body {
    display: grid;
    grid-template-areas:    "left-div top-right-div"
                            "left-div form"
                            "left-div bottom-right-div";
    grid-template-columns: 1fr 2fr;
    margin: 0;
    background-color: whitesmoke;
}

/* Left side */

.left-div{
    height: 100vh;
    background-image: url("gfx/rohit-tandon-unsplash.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-area: left-div;
}

.left-div>p {
    color: white;
    font-weight: bold;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
}

a {
    color: rgb(70%, 70%, 70%);
}

.logo-box {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 33%;
    font-size: 60px;
    font-family: "freemettoMedium";
    padding: 1em 0;
}

.logo-box>img{
    position: relative;
    bottom: 0.1em;
    height: 0.7em;
    filter: invert(100%);
    margin-right: 0.1em;
}


.logo-box>p {
    margin: 0;
}

/* Right hand side */

.top-right-div {
    grid-area: top-right-div;
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-bottom: 2rem;
    margin-left: 1rem;
}

form {
    grid-area: form;
    margin-left: 1rem;
    box-shadow: 4px 4px 6px 0px #000000;
    display: flex;
    margin-left: 1rem;
}

form>div {
    background-color: white;
    width: 100%;
    height: 100%;
    padding-left: 10px;
    display: grid;
    grid-template-areas:    "p p";
}

form label {
    display: flex;
    flex-direction: column;
    width: 20rem;
    font-family: sans-serif;
}

form p {
    font-weight: bold;
    font-size: 1.2rem;
    grid-area: p;
}

.bottom-right-div {
    grid-area: bottom-right-div;
    margin-left: 1rem;
    margin-top: 2rem;
}

.bottom-right-div a {
    color:  rgb(40%, 40%, 40%);
    text-decoration: none;
}
