body {
    display: flex;
    margin: 0;
}

/* Left side */

.left-div{
    height: 100vh;
    flex-grow: 2;
    flex-shrink: 1;
    background-image: url("gfx/rohit-tandon-unsplash.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 25%;
}

.left-div>p {
    color: white;
    font-weight: bold;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
}

a {
    color: rgb(70%, 70%, 70%);
}

.logo-box {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 33%;
    font-size: 60px;
    font-family: "freemettoMedium";
    padding: 1em 0;
}

.logo-box>img{
    position: relative;
    bottom: 0.1em;
    height: 0.7em;
    filter: invert(100%);
    margin-right: 0.1em;
}


.logo-box>p {
    margin: 0;
}

/* Right hand side */

.right-div {
    background-color: white;
form label {
    display: flex;
    flex-direction: column;
    width: 20rem;
    font-family: sans-serif;
}

.right-div>div:first-child {
    font-size: 1.5rem;
    margin: 2rem;
    flex: 1;
}
